@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::before {
  content: '';
  box-sizing: border-box;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 600ms linear infinite;
}
